*.nii*
*.csv
*.mat
LSDdataresults
LSDdata/sub-*/
LSDdata/ROIdata/
CopBET_load_data.m
CopBET_main.m
*.m~
CopBET_McCulloch_Olsen_2023_data.m
NRUspecific_downsamplemr001data.m
quickplot.m
.gitignore~
test/